@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --color-background: #070f2b;

  --purple: #27005d;
  --gray-purple: #3d3c9d;
  --light-purple: #836fff;
  --lighter-purple: #9400ff;
  --dark-purple: #1b1a55;
  --darker-purple: #211951;

  --gray: #535c91;
  --light-gray: #9290c3;

  --teal: #15f5ba;

  --light-blue: #aed2ff;

  --color-text: white;

  --space-bg: url('./space-bg.svg');

  --pixel-font: 'Pixelify Sans', sans-serif;
}

/* pixel clip path */
:root {
  --pixelated-borders: polygon(
    0px calc(100% - 40px),
    8px calc(100% - 40px),
    8px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 8px),
    40px calc(100% - 8px),
    40px 100%,
    calc(100% - 40px) 100%,
    calc(100% - 40px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 40px),
    100% calc(100% - 40px),
    100% 40px,
    calc(100% - 8px) 40px,
    calc(100% - 8px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 8px,
    calc(100% - 40px) 8px,
    calc(100% - 40px) 0px,
    40px 0px,
    40px 8px,
    24px 8px,
    24px 16px,
    16px 16px,
    16px 24px,
    8px 24px,
    8px 40px,
    0px 40px
  );

  --pixelated-borders-double: polygon(
    8px 40px,
    16px 40px,
    16px 24px,
    24px 24px,
    24px 16px,
    40px 16px,
    40px 8px,
    calc(100% - 40px) 8px,
    calc(100% - 40px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 40px,
    calc(100% - 8px) 40px,
    calc(100% - 8px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 8px),
    40px calc(100% - 8px),
    40px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 40px),
    8px calc(100% - 40px)
  );

  --pixelated-borders-after: polygon(
    0px calc(100% - 40px),
    8px calc(100% - 40px),
    8px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 8px),
    40px calc(100% - 8px),
    40px 100%,
    calc(100% - 40px) 100%,
    calc(100% - 40px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 40px),
    100% calc(100% - 40px),
    100% 40px,
    calc(100% - 8px) 40px,
    calc(100% - 8px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 8px,
    calc(100% - 40px) 8px,
    calc(100% - 40px) 0px,
    40px 0px,
    40px 8px,
    24px 8px,
    24px 16px,
    16px 16px,
    16px 24px,
    8px 24px,
    8px 40px,
    0px 40px,
    0px 50%,
    8px 50%,
    8px 40px,
    16px 40px,
    16px 24px,
    24px 24px,
    24px 16px,
    40px 16px,
    40px 8px,
    calc(100% - 40px) 8px,
    calc(100% - 40px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 40px,
    calc(100% - 8px) 40px,
    calc(100% - 8px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 8px),
    40px calc(100% - 8px),
    40px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 40px),
    8px calc(100% - 40px),
    8px 50%,
    0px 50%
  );
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-image: var(--space-bg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: color 0.5s, background-image 0.5s;
  /* line-height: 1.5; */
  font-family: var(--pixel-font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
