@import './base.css';

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 48px 0;
  /* border: 1px solid red; */
  position: relative;
}

progress {
  border: none;
  width: 150px;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
}
progress::-webkit-progress-bar {
  background-color: white;
}
progress::-webkit-progress-value {
  background-color: var(--light-blue);
}
progress::-moz-progress-bar {
  background-color: white;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

/* pixelated style border */
.pixel-corners {
  border: 8px solid transparent;
}

.pixel-corners::after {
  margin: -8px;
}

.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners,
.pixel-corners--wrapper,
.pixel-corners--lighter-purple,
.pixel-corners--dark-purple {
  clip-path: var(--pixelated-borders);
  position: relative;
}

.pixel-corners--wrapper .pixel-corners,
.pixel-corners--lighter-purple .pixel-corners,
.pixel-corners--dark-purple .pixel-corners {
  display: block;
  clip-path: var(--pixelated-borders-double);
}

/* .pixel-corners::after,
.pixel-corners--wrapper::after {
  content: '';
  position: absolute;
  clip-path: var(--pixelated-borders-after);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: block;
  pointer-events: none;
} */

.pixel-corners--lighter-purple::after {
  content: '';
  position: absolute;
  clip-path: var(--pixelated-borders-after);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--lighter-purple);
  display: block;
  pointer-events: none;
}

.pixel-corners--dark-purple::after {
  content: '';
  position: absolute;
  clip-path: var(--pixelated-borders-after);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--dark-purple);
  display: block;
  pointer-events: none;
}
