@import './base.css';

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px 8px;
  /* border: 1px solid red; */
  position: relative;
}

@media (min-width: 640px) {
  #app {
    padding: 48px;
  }
}

/* pixelated style border */
.pixel-corners {
  border: 8px solid transparent;
}

.pixel-corners::after {
  margin: -8px;
}

.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners,
.pixel-corners--wrapper,
.pixel-corners--lighter-purple,
.pixel-corners--dark-purple {
  clip-path: var(--pixelated-borders);
  position: relative;
}

.pixel-corners--wrapper .pixel-corners,
.pixel-corners--lighter-purple .pixel-corners,
.pixel-corners--dark-purple .pixel-corners {
  display: block;
  clip-path: var(--pixelated-borders-double);
}

/* .pixel-corners::after,
.pixel-corners--wrapper::after {
  content: '';
  position: absolute;
  clip-path: var(--pixelated-borders-after);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: block;
  pointer-events: none;
} */

.pixel-corners--lighter-purple::after {
  content: '';
  position: absolute;
  clip-path: var(--pixelated-borders-after);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--lighter-purple);
  display: block;
  pointer-events: none;
}

.pixel-corners--dark-purple::after {
  content: '';
  position: absolute;
  clip-path: var(--pixelated-borders-after);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--dark-purple);
  display: block;
  pointer-events: none;
}
