.stars {
  position: absolute;
}

.stars--sm {
  width: 1px;
  height: 1px;
  animation: orbit 70s linear infinite;
  box-shadow: 2763px 5723px #ffffff, 314px 2704px #ffffff, 3551px 855px #ffffff,
    5601px 84px #ffffff, 4413px 3978px #ffffff, 473px 673px #ffffff,
    260px 6781px #ffffff, 5302px 6068px #ffffff, 3164px 3334px #ffffff,
    5602px 617px #ffffff, 5313px 4932px #ffffff, 3811px 3560px #ffffff,
    3032px 1301px #ffffff, 5890px 1934px #ffffff, 3816px 795px #ffffff,
    5045px 4820px #ffffff, 6033px 1398px #ffffff, 926px 2976px #ffffff,
    4240px 2674px #ffffff, 2025px 3499px #ffffff, 6715px 5581px #ffffff,
    628px 6315px #ffffff, 3641px 4175px #ffffff, 4944px 90px #ffffff,
    4100px 6359px #ffffff, 2021px 3319px #ffffff, 624px 2921px #ffffff,
    4965px 3760px #ffffff, 1391px 594px #ffffff, 206px 3739px #ffffff,
    784px 1194px #ffffff, 4766px 2044px #ffffff, 1872px 767px #ffffff,
    6924px 1590px #ffffff, 3155px 1663px #ffffff, 407px 1790px #ffffff,
    2606px 170px #ffffff, 4038px 4472px #ffffff, 4762px 206px #ffffff,
    981px 3722px #ffffff, 6472px 1908px #ffffff, 708px 5043px #ffffff,
    2927px 3818px #ffffff, 4536px 2622px #ffffff, 3956px 5765px #ffffff,
    2848px 5966px #ffffff, 3060px 176px #ffffff, 1056px 616px #ffffff,
    4333px 5822px #ffffff, 75px 2698px #ffffff, 3359px 1875px #ffffff,
    3946px 6844px #ffffff, 2893px 3758px #ffffff, 2854px 5049px #ffffff,
    1762px 4929px #ffffff, 3738px 6044px #ffffff, 3661px 1235px #ffffff,
    1555px 5794px #ffffff, 4744px 332px #ffffff, 3911px 1406px #ffffff,
    140px 4375px #ffffff, 4505px 929px #ffffff, 1916px 6195px #ffffff,
    5313px 2169px #ffffff, 2628px 1978px #ffffff, 4472px 6905px #ffffff,
    4597px 2014px #ffffff, 6016px 4102px #ffffff, 3809px 2714px #ffffff,
    5020px 5792px #ffffff, 924px 2350px #ffffff, 3822px 2352px #ffffff,
    4425px 428px #ffffff, 5684px 3467px #ffffff, 1268px 2117px #ffffff,
    4223px 2318px #ffffff, 3203px 3711px #ffffff, 5932px 5363px #ffffff,
    2444px 4801px #ffffff, 4236px 1266px #ffffff, 798px 5421px #ffffff,
    1308px 927px #ffffff, 5265px 5186px #ffffff, 6281px 6871px #ffffff,
    1872px 6375px #ffffff, 2552px 6079px #ffffff, 3113px 1334px #ffffff,
    2660px 226px #ffffff, 3240px 3576px #ffffff, 4659px 2773px #ffffff,
    778px 5428px #ffffff, 4543px 2552px #ffffff, 1536px 1083px #ffffff,
    2680px 4153px #ffffff, 451px 1475px #ffffff, 2598px 5886px #ffffff,
    6179px 5237px #ffffff, 4342px 6318px #ffffff, 3235px 4536px #ffffff,
    1083px 6040px #ffffff, 6831px 4521px #ffffff, 6353px 1464px #ffffff,
    4363px 2494px #ffffff, 1994px 1578px #ffffff, 2017px 4371px #ffffff,
    4656px 2899px #ffffff, 256px 5586px #ffffff, 321px 5745px #ffffff,
    6499px 91px #ffffff, 2175px 6173px #ffffff, 3044px 4908px #ffffff,
    3361px 69px #ffffff, 3590px 4724px #ffffff, 5437px 5835px #ffffff,
    5853px 3324px #ffffff, 3729px 1249px #ffffff, 1985px 4898px #ffffff,
    2115px 6938px #ffffff, 1554px 997px #ffffff, 1631px 5832px #ffffff,
    5115px 4815px #ffffff, 41px 1094px #ffffff, 1934px 6911px #ffffff,
    2955px 5225px #ffffff, 1740px 2226px #ffffff, 2869px 6509px #ffffff,
    453px 4561px #ffffff, 153px 2993px #ffffff, 708px 3862px #ffffff,
    3955px 2920px #ffffff, 2537px 5612px #ffffff, 3056px 6834px #ffffff,
    4569px 6165px #ffffff, 2988px 1869px #ffffff, 1526px 1367px #ffffff,
    2291px 3003px #ffffff, 3305px 3976px #ffffff, 1304px 3581px #ffffff,
    4631px 158px #ffffff, 1156px 5748px #ffffff, 4144px 4593px #ffffff,
    6758px 5371px #ffffff, 4441px 4511px #ffffff, 2092px 6802px #ffffff,
    2709px 2088px #ffffff, 3665px 3484px #ffffff, 4980px 6861px #ffffff,
    4899px 3032px #ffffff, 3601px 1826px #ffffff, 530px 5736px #ffffff,
    117px 1626px #ffffff, 4048px 6095px #ffffff, 335px 6017px #ffffff,
    368px 4496px #ffffff, 1389px 279px #ffffff, 5249px 479px #ffffff,
    581px 5483px #ffffff, 241px 6022px #ffffff, 2823px 5421px #ffffff,
    5840px 108px #ffffff, 652px 3748px #ffffff, 2851px 2835px #ffffff,
    3608px 747px #ffffff, 2017px 465px #ffffff, 4763px 6681px #ffffff,
    2654px 5335px #ffffff, 1026px 189px #ffffff, 2643px 4052px #ffffff,
    55px 2157px #ffffff, 2583px 4893px #ffffff, 6378px 6974px #ffffff,
    3924px 4743px #ffffff, 2287px 3818px #ffffff, 3534px 5385px #ffffff,
    6935px 6671px #ffffff, 2726px 3196px #ffffff, 487px 4340px #ffffff,
    3504px 179px #ffffff, 2062px 3531px #ffffff, 6569px 811px #ffffff,
    5823px 1486px #ffffff, 4441px 1940px #ffffff, 829px 2284px #ffffff,
    6504px 2183px #ffffff, 4797px 1082px #ffffff, 2980px 2241px #ffffff,
    6200px 3773px #ffffff, 3058px 3767px #ffffff, 2329px 2171px #ffffff,
    4274px 5449px #ffffff, 3630px 3781px #ffffff, 5972px 4272px #ffffff,
    341px 4444px #ffffff, 3362px 3790px #ffffff, 3335px 3951px #ffffff,
    2973px 348px #ffffff, 1882px 5281px #ffffff, 1560px 2955px #ffffff,
    2753px 3171px #ffffff, 3706px 5641px #ffffff, 6249px 3168px #ffffff,
    4989px 544px #ffffff, 1082px 1751px #ffffff, 1534px 6597px #ffffff,
    2144px 1214px #ffffff, 2661px 5654px #ffffff, 5336px 5629px #ffffff,
    4117px 2859px #ffffff, 5140px 2970px #ffffff, 1516px 4208px #ffffff,
    5183px 5569px #ffffff, 3455px 1794px #ffffff, 330px 6693px #ffffff,
    202px 580px #ffffff, 3547px 1713px #ffffff, 6354px 6881px #ffffff,
    1181px 5854px #ffffff, 6160px 5626px #ffffff, 5960px 3844px #ffffff,
    730px 2892px #ffffff, 3168px 4675px #ffffff, 2249px 1595px #ffffff,
    3644px 5830px #ffffff, 2235px 149px #ffffff, 6633px 3919px #ffffff,
    6833px 4233px #ffffff, 6807px 5786px #ffffff, 2633px 6466px #ffffff,
    5573px 6860px #ffffff, 2428px 2954px #ffffff, 1575px 6639px #ffffff,
    5190px 6688px #ffffff, 6495px 6627px #ffffff, 931px 3891px #ffffff,
    303px 421px #ffffff, 2513px 1729px #ffffff, 2271px 1894px #ffffff,
    6678px 3339px #ffffff, 783px 2528px #ffffff, 1663px 2131px #ffffff,
    4080px 6670px #ffffff, 6750px 3650px #ffffff, 6364px 1406px #ffffff,
    1289px 2178px #ffffff, 3857px 1600px #ffffff, 2903px 6734px #ffffff,
    631px 3222px #ffffff, 1521px 3568px #ffffff, 6670px 4144px #ffffff,
    633px 913px #ffffff, 3186px 6365px #ffffff, 855px 3886px #ffffff,
    4618px 5694px #ffffff, 163px 1410px #ffffff, 5541px 1734px #ffffff,
    4728px 1744px #ffffff, 5825px 2844px #ffffff, 1775px 1501px #ffffff,
    4511px 231px #ffffff, 2045px 4324px #ffffff, 3995px 1114px #ffffff,
    2846px 4241px #ffffff, 6541px 1646px #ffffff, 1509px 5588px #ffffff,
    3908px 2942px #ffffff, 6387px 3516px #ffffff, 852px 6279px #ffffff,
    6473px 431px #ffffff, 424px 3488px #ffffff, 5378px 685px #ffffff,
    3102px 811px #ffffff, 912px 1136px #ffffff, 276px 1268px #ffffff,
    4587px 4681px #ffffff, 5836px 1283px #ffffff, 6880px 2163px #ffffff,
    1213px 6154px #ffffff, 5698px 3346px #ffffff, 4886px 2539px #ffffff,
    3406px 6094px #ffffff, 2997px 2461px #ffffff, 5381px 5202px #ffffff,
    1244px 1095px #ffffff, 2330px 5412px #ffffff, 656px 2688px #ffffff,
    3781px 3269px #ffffff, 5488px 2188px #ffffff, 6567px 539px #ffffff,
    5864px 3094px #ffffff, 3378px 6631px #ffffff, 5147px 6685px #ffffff,
    1610px 6578px #ffffff, 2216px 2295px #ffffff, 1825px 5322px #ffffff,
    3997px 2640px #ffffff, 5973px 444px #ffffff, 466px 4410px #ffffff,
    2558px 2440px #ffffff, 6010px 4983px #ffffff, 4221px 2420px #ffffff,
    2264px 2589px #ffffff, 5994px 3490px #ffffff, 4319px 5762px #ffffff,
    2991px 5613px #ffffff, 3163px 2896px #ffffff, 6252px 6987px #ffffff,
    1819px 322px #ffffff, 464px 854px #ffffff, 2671px 2723px #ffffff,
    130px 4518px #ffffff, 2436px 4066px #ffffff, 2514px 4656px #ffffff,
    6335px 3767px #ffffff, 192px 5747px #ffffff, 685px 5734px #ffffff,
    5450px 2338px #ffffff, 1649px 3565px #ffffff, 3677px 3212px #ffffff,
    5646px 4477px #ffffff, 1723px 2600px #ffffff, 4255px 2312px #ffffff,
    5542px 1160px #ffffff, 4143px 1462px #ffffff, 1633px 457px #ffffff,
    1146px 84px #ffffff, 1004px 857px #ffffff, 3306px 3607px #ffffff,
    5457px 898px #ffffff, 5831px 1182px #ffffff, 3898px 3708px #ffffff,
    3773px 2379px #ffffff, 5684px 1987px #ffffff, 3826px 6671px #ffffff,
    2718px 4051px #ffffff, 1137px 5114px #ffffff, 3949px 2186px #ffffff,
    5735px 3388px #ffffff, 6101px 1379px #ffffff, 4460px 5266px #ffffff,
    1233px 5517px #ffffff, 6595px 2132px #ffffff, 3288px 4410px #ffffff,
    5400px 407px #ffffff, 4054px 4487px #ffffff, 6329px 5068px #ffffff,
    6504px 3102px #ffffff, 4872px 822px #ffffff, 3962px 2825px #ffffff,
    2525px 5512px #ffffff, 1938px 4573px #ffffff, 6884px 6953px #ffffff,
    4592px 142px #ffffff, 3528px 6919px #ffffff, 258px 6093px #ffffff,
    102px 6682px #ffffff, 5345px 1034px #ffffff, 6737px 6037px #ffffff,
    1001px 2002px #ffffff, 3910px 4693px #ffffff, 5668px 1996px #ffffff,
    1183px 3842px #ffffff, 544px 2956px #ffffff, 2662px 4429px #ffffff,
    1305px 3905px #ffffff, 4596px 3974px #ffffff, 470px 2265px #ffffff,
    5046px 1467px #ffffff, 834px 5660px #ffffff, 5282px 5808px #ffffff,
    5643px 5473px #ffffff, 1044px 6833px #ffffff, 4301px 5451px #ffffff,
    4315px 2770px #ffffff, 872px 4244px #ffffff, 5052px 6233px #ffffff,
    6103px 972px #ffffff, 4307px 6320px #ffffff, 1586px 5792px #ffffff,
    1714px 2671px #ffffff, 2625px 4172px #ffffff, 1922px 3756px #ffffff,
    122px 795px #ffffff, 6809px 6117px #ffffff, 6365px 6367px #ffffff,
    4494px 5879px #ffffff, 4664px 6691px #ffffff, 6076px 818px #ffffff,
    5501px 1085px #ffffff, 6930px 5985px #ffffff, 1019px 6701px #ffffff,
    912px 6514px #ffffff, 2745px 2764px #ffffff, 2792px 2979px #ffffff,
    3577px 5290px #ffffff, 4770px 4735px #ffffff, 4751px 1118px #ffffff,
    6657px 4273px #ffffff, 6030px 381px #ffffff, 2393px 3274px #ffffff,
    607px 1770px #ffffff, 6056px 2379px #ffffff, 1054px 2626px #ffffff,
    5079px 2452px #ffffff, 3188px 5008px #ffffff, 5363px 1799px #ffffff,
    4187px 6787px #ffffff, 4270px 3048px #ffffff, 3846px 3251px #ffffff,
    6280px 597px #ffffff, 2129px 2255px #ffffff, 6736px 759px #ffffff,
    937px 1437px #ffffff, 926px 4046px #ffffff, 548px 4816px #ffffff,
    5233px 2940px #ffffff, 4155px 1901px #ffffff, 5963px 6081px #ffffff,
    4219px 6044px #ffffff, 2298px 2505px #ffffff, 3548px 517px #ffffff,
    4866px 6875px #ffffff, 1841px 2352px #ffffff, 857px 180px #ffffff,
    3765px 4849px #ffffff, 6407px 2195px #ffffff, 1603px 2022px #ffffff,
    4562px 4514px #ffffff, 4912px 2727px #ffffff, 974px 461px #ffffff,
    839px 531px #ffffff, 4804px 6393px #ffffff, 5929px 1638px #ffffff,
    4310px 1785px #ffffff, 6829px 5658px #ffffff, 4901px 5899px #ffffff,
    5081px 3526px #ffffff, 2162px 552px #ffffff, 6373px 4734px #ffffff,
    6621px 5509px #ffffff, 4303px 1518px #ffffff, 4464px 395px #ffffff,
    1139px 412px #ffffff, 2935px 4797px #ffffff, 4113px 747px #ffffff,
    2725px 4845px #ffffff, 1863px 4909px #ffffff, 5848px 5612px #ffffff,
    5937px 420px #ffffff, 3556px 475px #ffffff, 4062px 1269px #ffffff,
    173px 3055px #ffffff, 3955px 4435px #ffffff, 4948px 453px #ffffff,
    1979px 1997px #ffffff, 1120px 6948px #ffffff, 3150px 3225px #ffffff,
    5672px 4811px #ffffff, 1420px 5179px #ffffff, 4206px 6485px #ffffff,
    6397px 6466px #ffffff, 3036px 6855px #ffffff, 445px 6241px #ffffff,
    5187px 5552px #ffffff, 5613px 6403px #ffffff, 6495px 4416px #ffffff,
    1777px 6826px #ffffff, 5572px 6146px #ffffff, 1175px 5400px #ffffff,
    43px 5826px #ffffff, 948px 5996px #ffffff, 3669px 2245px #ffffff,
    2406px 2700px #ffffff, 586px 6150px #ffffff, 335px 515px #ffffff,
    6231px 5030px #ffffff, 2009px 344px #ffffff, 2633px 5043px #ffffff,
    1097px 4867px #ffffff, 5862px 2559px #ffffff, 401px 3237px #ffffff,
    2969px 3637px #ffffff, 6018px 1225px #ffffff, 4921px 1111px #ffffff,
    6121px 5399px #ffffff, 6832px 3731px #ffffff, 4695px 1501px #ffffff,
    2710px 5707px #ffffff, 4500px 5878px #ffffff, 821px 1676px #ffffff,
    4335px 2681px #ffffff, 2337px 6703px #ffffff, 1349px 5064px #ffffff,
    6840px 2926px #ffffff, 4546px 4612px #ffffff, 404px 1021px #ffffff,
    5375px 6520px #ffffff, 153px 1502px #ffffff, 4305px 2578px #ffffff,
    4897px 5098px #ffffff, 771px 3092px #ffffff, 616px 4325px #ffffff,
    1878px 6894px #ffffff, 6523px 6055px #ffffff, 3262px 4443px #ffffff,
    3629px 5251px #ffffff, 4637px 1211px #ffffff, 1944px 1541px #ffffff,
    4303px 2642px #ffffff, 2622px 5979px #ffffff, 3489px 4045px #ffffff,
    463px 6501px #ffffff, 686px 838px #ffffff, 2933px 6207px #ffffff,
    5181px 5531px #ffffff, 1926px 1686px #ffffff, 1022px 2889px #ffffff,
    6700px 159px #ffffff, 345px 5273px #ffffff, 6416px 6207px #ffffff,
    4939px 1618px #ffffff, 4193px 2766px #ffffff, 4655px 5763px #ffffff,
    6240px 1308px #ffffff, 3046px 2195px #ffffff, 1050px 4614px #ffffff,
    4514px 700px #ffffff, 3595px 4627px #ffffff, 1670px 2535px #ffffff,
    1801px 6589px #ffffff, 97px 4907px #ffffff, 6283px 1065px #ffffff,
    1253px 4759px #ffffff, 4986px 1879px #ffffff, 5818px 1551px #ffffff,
    6192px 3536px #ffffff, 3425px 5259px #ffffff, 1057px 1493px #ffffff,
    2896px 2938px #ffffff, 5056px 1424px #ffffff, 1532px 5642px #ffffff,
    3227px 1393px #ffffff, 1342px 2775px #ffffff, 2734px 2347px #ffffff,
    6542px 4882px #ffffff, 3764px 2083px #ffffff, 1738px 2268px #ffffff,
    2476px 4979px #ffffff, 472px 6347px #ffffff, 906px 6844px #ffffff,
    5912px 5499px #ffffff, 1808px 5994px #ffffff, 3868px 6573px #ffffff,
    4661px 2375px #ffffff, 2888px 4223px #ffffff, 3177px 311px #ffffff,
    5880px 2px #ffffff, 6812px 4658px #ffffff, 5601px 677px #ffffff,
    1732px 3809px #ffffff, 5972px 5352px #ffffff, 917px 4360px #ffffff,
    5499px 3868px #ffffff, 6446px 6409px #ffffff, 1746px 2315px #ffffff,
    3609px 4976px #ffffff, 2184px 2827px #ffffff, 6861px 6885px #ffffff,
    1386px 4560px #ffffff, 3792px 2873px #ffffff, 6669px 5677px #ffffff,
    6847px 6916px #ffffff, 1767px 1495px #ffffff, 5614px 924px #ffffff,
    1329px 2029px #ffffff, 3322px 4066px #ffffff, 2424px 3841px #ffffff,
    6212px 4467px #ffffff, 2497px 1521px #ffffff, 4270px 3936px #ffffff,
    6504px 4143px #ffffff, 4317px 4211px #ffffff, 2502px 3925px #ffffff,
    5097px 5606px #ffffff, 6685px 5668px #ffffff, 1416px 5880px #ffffff,
    2306px 2722px #ffffff, 221px 4970px #ffffff, 4290px 6488px #ffffff,
    6753px 6346px #ffffff, 3384px 32px #ffffff, 6538px 1903px #ffffff,
    3428px 4437px #ffffff, 1058px 1935px #ffffff, 4662px 3166px #ffffff,
    102px 1330px #ffffff, 6280px 495px #ffffff, 6503px 3673px #ffffff,
    4519px 1321px #ffffff, 675px 3975px #ffffff, 1391px 6180px #ffffff,
    1994px 2982px #ffffff, 390px 6716px #ffffff, 2102px 5135px #ffffff,
    5694px 221px #ffffff, 2797px 3194px #ffffff, 2437px 707px #ffffff,
    164px 506px #ffffff, 5266px 3613px #ffffff, 3222px 2746px #ffffff,
    2221px 3102px #ffffff, 5189px 2804px #ffffff, 6723px 2236px #ffffff,
    3185px 3719px #ffffff, 965px 2598px #ffffff, 6790px 959px #ffffff,
    491px 883px #ffffff, 4955px 2676px #ffffff, 2007px 3546px #ffffff,
    2453px 4323px #ffffff, 777px 4490px #ffffff, 6563px 1873px #ffffff,
    2267px 2358px #ffffff, 6914px 2000px #ffffff, 6920px 4239px #ffffff,
    3502px 1568px #ffffff, 5366px 190px #ffffff, 1863px 309px #ffffff,
    156px 2909px #ffffff, 2963px 6226px #ffffff, 2488px 61px #ffffff,
    2738px 3666px #ffffff, 4592px 1332px #ffffff, 2885px 6139px #ffffff,
    6448px 2225px #ffffff, 2506px 5168px #ffffff, 5507px 3542px #ffffff,
    5779px 5121px #ffffff, 593px 1692px #ffffff, 5247px 6945px #ffffff,
    4375px 4404px #ffffff, 5946px 4112px #ffffff, 5526px 2463px #ffffff,
    3200px 6060px #ffffff, 2715px 549px #ffffff, 6873px 4389px #ffffff,
    2801px 1395px #ffffff, 5534px 5219px #ffffff, 5622px 3332px #ffffff,
    2228px 6294px #ffffff, 57px 5172px #ffffff, 1469px 2291px #ffffff,
    4256px 1623px #ffffff, 5453px 1688px #ffffff, 2219px 5351px #ffffff,
    413px 242px #ffffff, 3329px 3072px #ffffff, 4405px 4745px #ffffff,
    2418px 4017px #ffffff, 3350px 6499px #ffffff, 4171px 4583px #ffffff,
    1480px 4342px #ffffff, 5452px 878px #ffffff, 4582px 290px #ffffff,
    4610px 6278px #ffffff, 4087px 1471px #ffffff, 2233px 4606px #ffffff,
    2721px 5932px #ffffff, 235px 6262px #ffffff, 4351px 1003px #ffffff,
    1201px 5666px #ffffff, 3967px 3638px #ffffff, 3898px 5539px #ffffff,
    2611px 5273px #ffffff, 6658px 5770px #ffffff, 4537px 4821px #ffffff,
    5412px 2135px #ffffff, 6622px 4767px #ffffff, 1220px 520px #ffffff,
    1870px 3107px #ffffff, 6600px 2095px #ffffff, 5066px 6769px #ffffff,
    4412px 5184px #ffffff, 2297px 2690px #ffffff, 4741px 2462px #ffffff,
    499px 834px #ffffff, 4123px 3260px #ffffff, 4562px 1813px #ffffff,
    3452px 5820px #ffffff, 6640px 1057px #ffffff, 3977px 4771px #ffffff,
    3971px 6729px #ffffff, 6332px 2881px #ffffff, 6662px 5315px #ffffff,
    8px 4420px #ffffff, 6992px 6376px #ffffff, 6501px 1142px #ffffff,
    4838px 2985px #ffffff, 1361px 2201px #ffffff, 4777px 3206px #ffffff,
    3127px 3610px #ffffff, 4375px 1613px #ffffff;
}

.stars--md {
  width: 2px;
  height: 2px;
  animation: orbit 70s linear infinite;
  box-shadow: 6003px 2294px #ffffff, 349px 6631px #ffffff, 4321px 6729px #ffffff,
    1318px 684px #ffffff, 3065px 2506px #ffffff, 3906px 617px #ffffff,
    4710px 630px #ffffff, 5025px 4594px #ffffff, 5919px 3637px #ffffff,
    6114px 4966px #ffffff, 1838px 2426px #ffffff, 2327px 2459px #ffffff,
    1136px 4370px #ffffff, 6013px 5106px #ffffff, 3449px 300px #ffffff,
    798px 3698px #ffffff, 5296px 3145px #ffffff, 2976px 5618px #ffffff,
    4745px 2794px #ffffff, 3445px 3370px #ffffff, 6801px 5476px #ffffff,
    472px 753px #ffffff, 1730px 1107px #ffffff, 1679px 6792px #ffffff,
    5161px 1682px #ffffff, 2882px 4335px #ffffff, 5791px 5182px #ffffff,
    4353px 1979px #ffffff, 3145px 383px #ffffff, 171px 6737px #ffffff,
    204px 5127px #ffffff, 4978px 4691px #ffffff, 2716px 4720px #ffffff,
    6391px 1096px #ffffff, 414px 441px #ffffff, 6908px 6453px #ffffff,
    2014px 3230px #ffffff, 5473px 3748px #ffffff, 6697px 3895px #ffffff,
    1067px 3953px #ffffff, 6338px 4116px #ffffff, 6342px 1126px #ffffff,
    5769px 2213px #ffffff, 6964px 2594px #ffffff, 2189px 3352px #ffffff,
    2918px 6281px #ffffff, 2260px 2927px #ffffff, 4755px 1767px #ffffff,
    4944px 6357px #ffffff, 813px 2642px #ffffff, 5420px 3823px #ffffff,
    5748px 1644px #ffffff, 1486px 1323px #ffffff, 5831px 6859px #ffffff,
    4984px 4568px #ffffff, 6515px 5926px #ffffff, 4145px 2232px #ffffff,
    2951px 4455px #ffffff, 6179px 4685px #ffffff, 4703px 6880px #ffffff,
    1613px 1469px #ffffff, 4741px 1514px #ffffff, 69px 5142px #ffffff,
    6582px 3595px #ffffff, 4494px 3329px #ffffff, 6383px 1860px #ffffff,
    1402px 5853px #ffffff, 1771px 2371px #ffffff, 4389px 2776px #ffffff,
    5689px 1733px #ffffff, 4280px 5909px #ffffff, 41px 3431px #ffffff,
    2098px 2455px #ffffff, 5219px 3689px #ffffff, 5691px 386px #ffffff,
    6268px 516px #ffffff, 2760px 3311px #ffffff, 5694px 819px #ffffff,
    6871px 3230px #ffffff, 6247px 4314px #ffffff, 67px 6135px #ffffff,
    269px 1881px #ffffff, 5272px 4293px #ffffff, 979px 6142px #ffffff,
    698px 1347px #ffffff, 2093px 3303px #ffffff, 4989px 5699px #ffffff,
    4744px 5601px #ffffff, 6472px 3541px #ffffff, 3735px 927px #ffffff,
    3123px 6325px #ffffff, 6930px 6984px #ffffff, 5396px 569px #ffffff,
    6114px 3803px #ffffff, 4922px 43px #ffffff, 2118px 2823px #ffffff,
    1173px 1163px #ffffff, 5353px 6841px #ffffff, 1718px 3529px #ffffff,
    2832px 6106px #ffffff, 3403px 6499px #ffffff, 6042px 4578px #ffffff,
    4737px 4087px #ffffff, 2677px 5647px #ffffff, 5838px 5344px #ffffff,
    2598px 4681px #ffffff, 6641px 4299px #ffffff, 4705px 1247px #ffffff,
    5774px 4930px #ffffff, 6311px 4502px #ffffff, 6537px 5149px #ffffff,
    1447px 5977px #ffffff, 2114px 2904px #ffffff, 3340px 3489px #ffffff,
    918px 5659px #ffffff, 6843px 4095px #ffffff, 2711px 4194px #ffffff,
    1708px 242px #ffffff, 4768px 5600px #ffffff, 5456px 2507px #ffffff,
    1738px 1461px #ffffff, 1499px 5981px #ffffff, 5876px 2097px #ffffff,
    2694px 3615px #ffffff, 5058px 1509px #ffffff, 2855px 1498px #ffffff,
    669px 623px #ffffff, 3465px 1408px #ffffff, 788px 5594px #ffffff,
    373px 2046px #ffffff, 4419px 2244px #ffffff, 1088px 687px #ffffff,
    1796px 2467px #ffffff, 740px 121px #ffffff, 1523px 2488px #ffffff,
    4986px 2075px #ffffff, 2924px 694px #ffffff, 3727px 150px #ffffff,
    2793px 2562px #ffffff, 164px 6575px #ffffff, 119px 3165px #ffffff,
    3918px 3837px #ffffff, 618px 2246px #ffffff, 4868px 1777px #ffffff,
    1238px 3571px #ffffff, 3103px 1329px #ffffff, 6819px 5019px #ffffff,
    2298px 6142px #ffffff, 3097px 6359px #ffffff, 4357px 150px #ffffff,
    3962px 3109px #ffffff, 6614px 3136px #ffffff, 3150px 5321px #ffffff,
    686px 248px #ffffff, 2179px 3666px #ffffff, 5423px 1894px #ffffff,
    3729px 2545px #ffffff, 6500px 6767px #ffffff, 4628px 1292px #ffffff,
    1472px 2061px #ffffff, 4352px 4609px #ffffff, 3621px 4056px #ffffff,
    414px 2222px #ffffff, 3287px 4536px #ffffff, 900px 5837px #ffffff,
    1445px 1269px #ffffff, 3111px 3363px #ffffff, 3284px 94px #ffffff,
    4680px 3611px #ffffff, 2949px 3881px #ffffff, 3457px 1337px #ffffff,
    2416px 1234px #ffffff, 2948px 1486px #ffffff, 500px 3174px #ffffff,
    4164px 4837px #ffffff, 3833px 4116px #ffffff, 93px 216px #ffffff,
    6855px 4224px #ffffff, 3943px 4988px #ffffff, 3832px 4663px #ffffff,
    6023px 1609px #ffffff, 199px 5539px #ffffff, 1628px 5117px #ffffff,
    3730px 4102px #ffffff, 6px 6504px #ffffff, 4815px 4766px #ffffff,
    4834px 469px #ffffff, 1650px 3393px #ffffff, 5030px 1072px #ffffff,
    3054px 3950px #ffffff, 2619px 3654px #ffffff, 2806px 5568px #ffffff,
    3638px 4765px #ffffff, 6923px 6289px #ffffff, 6960px 4244px #ffffff,
    1311px 2575px #ffffff, 1841px 6965px #ffffff, 6930px 3285px #ffffff,
    4109px 865px #ffffff, 2317px 2081px #ffffff, 2748px 5957px #ffffff,
    2734px 1570px #ffffff, 6313px 6431px #ffffff, 5632px 3864px #ffffff,
    5220px 726px #ffffff, 4703px 4305px #ffffff, 890px 1337px #ffffff,
    3139px 1387px #ffffff, 5010px 6384px #ffffff, 2226px 1569px #ffffff,
    3938px 4999px #ffffff, 4297px 5555px #ffffff, 1900px 2953px #ffffff,
    3933px 5734px #ffffff, 1198px 4268px #ffffff, 1389px 6995px #ffffff,
    5252px 1823px #ffffff, 2658px 5377px #ffffff, 4277px 4748px #ffffff,
    332px 775px #ffffff, 5759px 4595px #ffffff, 1460px 4088px #ffffff,
    3804px 2721px #ffffff, 355px 320px #ffffff, 5177px 4344px #ffffff,
    1424px 6751px #ffffff, 743px 4098px #ffffff, 1846px 1386px #ffffff,
    3015px 6865px #ffffff, 5501px 5921px #ffffff, 5865px 2091px #ffffff,
    774px 4245px #ffffff, 350px 4654px #ffffff, 1245px 3154px #ffffff,
    3923px 422px #ffffff, 5275px 2054px #ffffff, 1274px 2010px #ffffff,
    4203px 1355px #ffffff, 992px 5922px #ffffff, 2900px 157px #ffffff,
    82px 4491px #ffffff, 225px 499px #ffffff, 6404px 3105px #ffffff,
    2344px 3168px #ffffff, 3288px 1744px #ffffff, 4612px 1100px #ffffff,
    5827px 1547px #ffffff, 1616px 1734px #ffffff, 1976px 4999px #ffffff,
    4313px 2678px #ffffff, 4659px 1459px #ffffff, 1668px 4682px #ffffff,
    5305px 5523px #ffffff, 276px 5582px #ffffff, 4135px 5914px #ffffff,
    4721px 4819px #ffffff, 1695px 202px #ffffff, 2460px 1914px #ffffff,
    685px 6581px #ffffff, 2280px 3833px #ffffff, 6796px 2273px #ffffff,
    647px 5410px #ffffff, 1797px 1288px #ffffff, 3805px 5516px #ffffff,
    6634px 855px #ffffff, 1937px 597px #ffffff, 4564px 4185px #ffffff,
    2415px 381px #ffffff, 6474px 6376px #ffffff, 5776px 5759px #ffffff,
    182px 6088px #ffffff, 2503px 3035px #ffffff, 3131px 3839px #ffffff,
    4341px 6298px #ffffff, 4526px 311px #ffffff, 4027px 5340px #ffffff,
    4519px 1316px #ffffff, 211px 3898px #ffffff, 2058px 5227px #ffffff,
    6784px 3322px #ffffff, 2928px 5486px #ffffff, 2291px 379px #ffffff,
    4931px 5227px #ffffff, 190px 3344px #ffffff, 2609px 4112px #ffffff,
    3554px 3910px #ffffff, 3616px 6692px #ffffff, 4233px 3098px #ffffff,
    2466px 5082px #ffffff, 3399px 3634px #ffffff, 6778px 4554px #ffffff,
    4946px 5714px #ffffff, 1117px 3380px #ffffff, 6513px 2676px #ffffff,
    1072px 4690px #ffffff, 4347px 2122px #ffffff, 6638px 2090px #ffffff,
    2256px 1167px #ffffff, 3328px 4975px #ffffff, 5176px 6939px #ffffff,
    3142px 6585px #ffffff, 4804px 2026px #ffffff, 3711px 3225px #ffffff,
    1841px 3876px #ffffff, 5470px 3688px #ffffff, 836px 588px #ffffff,
    5031px 5305px #ffffff, 4371px 2792px #ffffff, 5126px 5714px #ffffff,
    5233px 2341px #ffffff, 3285px 4965px #ffffff, 3692px 1258px #ffffff,
    1021px 4493px #ffffff, 1008px 983px #ffffff, 4333px 6251px #ffffff,
    1329px 5860px #ffffff, 2181px 4427px #ffffff, 2824px 3183px #ffffff,
    613px 5462px #ffffff, 5586px 6335px #ffffff, 3755px 1127px #ffffff,
    1642px 1256px #ffffff, 6601px 236px #ffffff, 6020px 3290px #ffffff,
    6563px 2183px #ffffff, 6473px 696px #ffffff, 5876px 6546px #ffffff,
    3318px 1994px #ffffff, 6260px 3248px #ffffff, 338px 1790px #ffffff,
    34px 3153px #ffffff, 2700px 3350px #ffffff, 3933px 4138px #ffffff,
    810px 608px #ffffff, 2171px 4964px #ffffff, 731px 4582px #ffffff,
    1315px 1234px #ffffff, 5010px 4719px #ffffff, 31px 4944px #ffffff,
    3914px 2717px #ffffff, 1973px 4166px #ffffff, 6321px 3995px #ffffff,
    2772px 6714px #ffffff, 4930px 3616px #ffffff, 2770px 3662px #ffffff,
    2710px 5733px #ffffff, 6678px 2807px #ffffff, 1595px 900px #ffffff,
    3094px 2740px #ffffff, 331px 3179px #ffffff, 2150px 5156px #ffffff,
    3618px 5870px #ffffff, 3394px 6875px #ffffff, 4894px 353px #ffffff,
    2624px 6008px #ffffff, 1133px 5010px #ffffff, 1496px 119px #ffffff,
    2237px 5579px #ffffff, 6960px 5626px #ffffff, 1721px 39px #ffffff,
    2489px 1192px #ffffff, 1260px 4581px #ffffff, 1647px 6056px #ffffff,
    3352px 3612px #ffffff, 557px 5281px #ffffff, 6536px 6273px #ffffff,
    88px 5766px #ffffff, 5145px 1521px #ffffff, 2876px 1854px #ffffff,
    3085px 2343px #ffffff, 1126px 3788px #ffffff, 1663px 3273px #ffffff,
    4372px 2762px #ffffff, 2926px 2436px #ffffff, 1451px 1947px #ffffff,
    1932px 310px #ffffff, 951px 4170px #ffffff, 6723px 528px #ffffff,
    3327px 84px #ffffff, 5460px 5859px #ffffff, 2077px 4882px #ffffff,
    175px 1434px #ffffff, 2975px 6655px #ffffff, 5114px 5471px #ffffff,
    3303px 6125px #ffffff, 2418px 2464px #ffffff, 3183px 6216px #ffffff,
    5399px 4450px #ffffff, 1367px 945px #ffffff, 1216px 4509px #ffffff,
    6393px 1528px #ffffff, 518px 1275px #ffffff, 377px 1691px #ffffff,
    2504px 1990px #ffffff, 1198px 5794px #ffffff, 152px 1207px #ffffff,
    1703px 2867px #ffffff, 2522px 6725px #ffffff, 5209px 6995px #ffffff,
    5831px 3046px #ffffff, 6917px 3676px #ffffff, 3544px 1583px #ffffff,
    2178px 2275px #ffffff, 2317px 6705px #ffffff, 2791px 2266px #ffffff,
    5443px 4068px #ffffff, 2212px 2517px #ffffff, 3297px 5319px #ffffff,
    2727px 6164px #ffffff, 2509px 6264px #ffffff, 2080px 55px #ffffff,
    1648px 6681px #ffffff, 6584px 2005px #ffffff, 6572px 2602px #ffffff,
    4354px 4675px #ffffff, 345px 4095px #ffffff, 5983px 1492px #ffffff,
    5762px 2465px #ffffff, 5739px 2435px #ffffff, 4282px 4920px #ffffff,
    2846px 2488px #ffffff, 226px 5152px #ffffff, 2998px 2252px #ffffff,
    6402px 117px #ffffff, 6135px 831px #ffffff, 2112px 2153px #ffffff,
    4404px 3218px #ffffff, 5758px 5774px #ffffff, 5187px 4009px #ffffff,
    658px 4293px #ffffff, 3355px 5357px #ffffff, 3912px 53px #ffffff,
    3803px 1542px #ffffff, 6428px 3348px #ffffff, 3199px 5230px #ffffff,
    3664px 5450px #ffffff, 4206px 3540px #ffffff, 382px 6274px #ffffff,
    4399px 1936px #ffffff, 4944px 493px #ffffff, 5084px 821px #ffffff,
    215px 1283px #ffffff, 2921px 1503px #ffffff, 4852px 6477px #ffffff,
    5469px 1769px #ffffff, 3978px 5705px #ffffff, 5417px 3517px #ffffff,
    1105px 543px #ffffff, 1794px 299px #ffffff, 1250px 5750px #ffffff,
    6400px 6641px #ffffff, 5579px 1908px #ffffff, 5338px 4431px #ffffff,
    622px 67px #ffffff, 3674px 3493px #ffffff, 1750px 948px #ffffff,
    4110px 5496px #ffffff, 546px 5909px #ffffff, 2069px 6444px #ffffff,
    492px 1357px #ffffff, 413px 1030px #ffffff, 2083px 5486px #ffffff,
    3591px 802px #ffffff, 3959px 6926px #ffffff, 2225px 579px #ffffff,
    4448px 1714px #ffffff, 4519px 4162px #ffffff, 1814px 2540px #ffffff,
    6594px 4071px #ffffff, 220px 7px #ffffff, 4472px 3469px #ffffff,
    308px 5852px #ffffff, 2569px 5833px #ffffff, 3405px 2704px #ffffff,
    720px 5303px #ffffff, 858px 5197px #ffffff, 3707px 3765px #ffffff,
    4563px 3640px #ffffff, 5748px 6837px #ffffff, 5921px 2578px #ffffff,
    4917px 216px #ffffff, 3452px 1987px #ffffff, 166px 2921px #ffffff,
    968px 1380px #ffffff, 4477px 1589px #ffffff, 2356px 57px #ffffff,
    318px 503px #ffffff, 4832px 1877px #ffffff, 637px 323px #ffffff,
    4100px 3364px #ffffff, 666px 3064px #ffffff, 1992px 6545px #ffffff,
    1530px 4189px #ffffff, 1023px 3105px #ffffff, 436px 2426px #ffffff,
    5208px 2885px #ffffff, 6045px 5338px #ffffff, 1720px 1808px #ffffff,
    6977px 2399px #ffffff, 1029px 3241px #ffffff, 6496px 243px #ffffff;
}

@keyframes orbit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}
